
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
**/microstick.X/*.obj.dmp
**/microstick.X/html/
**/microstick.X/nbproject/private/
**/microstick.X/nbproject/Package-*.bash
**/microstick.X/build/
**/microstick.X/nbbuild/
**/microstick.X/dist/
**/microstick.X/nbdist/
**/microstick.X/nbactions.xml
**/microstick.X/nb-configuration.xml
**/microstick.X/funclist
**/microstick.X/nbproject/Makefile-*
**/microstick.X/disassembly/
**/microstick.X/*.map
